<h2>Plugins ({{controller.length}})</h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Enabled</th>
        <th>Version</th>
    </tr>
    {{#each controller}}
    <tr>
        <td>{{name}}</td>
        <td>{{enabled}}</td>
        <td>{{version}}</td>
    </tr>
    {{/each}}
</table>
