<h4>Stats</h4>
JVM Memory: 
<div class="progress">
    <div class="bar" {{bindAttr style="jvm_mem_percentage"}}></div>
</div>
Disk Usage:
<div class="progress">
    <div class="bar" {{bindAttr style="disk_percentage"}}></div>
</div>
